*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #7370FD;
    width: 1366px;
    height: 130px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box{
    display: flex;
}
.hero-1{
    background-color: #7BFF98;
    width: 400px;
    height: 352px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-2{
    background-color: #DDFF7B;
    width: 400px;
    height: 384px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    background-color: #2079FF;
    height: 455px;
    width: 965px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.extra{
    width: 965px;
    height: 281px;
    background-color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    background-color: #66B9AA;
    width: 341px;
    height: 281px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: #505050;
    width: 1366px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}